@font-face {
    font-family: retrotech ;
    src: url(../fonts/retrotech/RETROTECH.ttf);
}

@keyframes mudacor {
    0%{
        color: rgb(0, 0, 0);
    }
    
    25%{
        color: rgb(116, 51, 153);

    }
    
    50%{
        color: rgb(78, 24, 122);       
    }

    75%{

    }

    100%{
        color: var(--preto);
    }
    
    
}

:root{
    --corprimaria : rgb(132, 0, 255);
    --corsecundaria : #55c27f;
    --branco : #fff;
    --preto : black;
    --fonteprimaria : retrotech ;
    --fontesecundaria : 'Trebuchet MS' ;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: var(--fonteprimaria);
}

#page{
    width: 100%;
    height: 100vh;
    background-color: var(--corsecundaria);
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 70%;
    height: 80%;
    background-color: var(--branco);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

#efeito , #formulario{
    width: 50%;
    height: 100vh;      
    
}

#efeito{    
    background-image: url(../images/gameboy.jpeg);
    background-size: cover;
}

#banner{
    width: 100%;
    height: 100%;
    background: rgb(237,237,238);
    background: linear-gradient(90deg, rgba(237,237,238,0.47102591036414565) 72%, rgba(208,122,245,1) 100%);
}

h3{
    text-align: center;
    margin: 10px 0px;
    animation-name: mudacor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#formulario form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    
}

input{
    width: 70%;
    padding: 5px;
    border: none;
    border-bottom: solid var(--corprimaria);
}

button{
    width: 100px;
    padding: 10px;
    border: solid rgb(0, 0, 0);
    cursor: pointer;
}